@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@font-face {
    font-family: 'Space Mono';
    src: url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
}

* {
    font-family: 'Space Mono', monospace;
    color: darkgreen;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("https://c.tenor.com/yheo1GGu3FwAAAAM/rick-roll-rick-ashley.gif");
}

header {
    position: relative;
    background-color: black;
    height: 150px;
}

header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 3em;
}

main {
    display: flex;
    flex-direction: column;
    background-color: black;
    min-width: 320px;   
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main div {
    margin: 20px;
}

#klabel {
    font-weight: bold;
    font-size: 1.5em;
}

abbr {
    text-decoration: none;
}

#keys-container {
    margin: 0 20px;
}

main div label {
    font-size: 1.2em;
}

.text-input {
    width: 100%;
    min-height: 200px;
    max-height: 600px;
    resize: vertical;
    overflow: hidden;
    border: solid darkgreen 3px;
    padding: 0 5px;
}